<div class="row">

  <div class="col-md-12 home_background">
    <h1>Bold Visual and Call to Action</h1>
  </div>

  <div class="col-md-12">
    <h1>Brief Description</h1>
  </div>

  <div class="col-md-4">
    <h2>Chart</h2>
  </div>

  <div class="col-md-4">
    <h2>Chart</h2>
  </div>

  <div class="col-md-4">
    <h2>Chart</h2>
  </div>

</div>
